.header-container{
    width: 100%;
    background: rgb(107, 107, 107);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
}

.nav-li{
    color: white;
    gap: 40px;
    font-weight: 600;
}
.link:hover{
    color: red;
    font-weight: 700;
}
.nav-ul{
    display: flex;
    gap: 40px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-left: auto;
    
}
.main-container{
    width: 100%;
    background: rgb(235, 235, 235);
}
.yoqboluvchi{
    display: none;
}
